<form [formGroup]="countryForm" class="dropdown">
  <div>
    <label>Country</label>
    <select formControlName="country">
      <ng-container *ngIf="countries">
        <option
          value="{{ i }}"
          *ngFor="let country of countries; let i = index"
        >
          {{ country.country }}
        </option>
      </ng-container>
    </select>
    <label>city</label>
    <select formControlName="city">
      <ng-container *ngIf="cities">
        <option *ngFor="let city of cities">
          {{ city }}
        </option>
      </ng-container>
    </select>
  </div>
</form>
